<h2> Employee List </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> employee_id</th>
            <th> name</th>
            <th> manager_id</th>
            <th> leave</th>
            <th> LeaveBalance Application</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td>{{ employee.id}}</td>
            <td>{{ employee.name}}</td>
            <td>{{ employee.managerId}}</td>
            <td>{{ employee.leave}}</td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Apply</button>
            </td>
        </tr>
    </tbody>
</table>

